@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    overflow: hidden;
}

.home {
    display: flex;
    position: fixed;
    align-items: baseline;
    justify-content: center;
    padding: 2px 0 2px 0;
    width: 105px;
    margin: 10px 0 0 0;
    background-color: rgba(241, 189, 158, 0.3);
    color: white;
    border-radius: 0 15px 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.home:hover {
    background-color: rgba(241, 189, 158, 0.8);
}

.main {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.8)), url(../img/tech.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.frame {
    display: flex;
    width: 40%;
    height: 60%;
    min-width: 500px;
    min-height: 350px;
    border: 3px solid rgba(241, 189, 158, 0.4);
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));
    border-radius: 60px;
}

.content-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(241, 189, 158, 0.6);
    width: 35%;
    height: 100%;
    border-radius: 56px 0 0 56px;
}

img {
    width: 75%;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
    text-align: center;
    color: rgba(255,255,255,0.9);
    font-family: 'Roboto', sans-serif;
}

.selector-field {
    display: flex; 
    justify-content: left; 
    width: 100%;
    height: 30px; 
    margin-top: 5%;
}

.cadastroLogin {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
    font-size: 10pt;
    width: 19%; 
    height: 100%; 
    background-color: white; 
    border-radius: 0 20px 20px 0; 
    background-color: rgba(241, 189, 158, 0.6); 
    cursor: pointer;
    transition: 0.2s;
}

.main .frame .fields .selector-field .cadastroLogin:hover {
    width: 22%;

}

.title {
    margin: 0 0 15% 0;
}

.campos {
    width: 60%;
    padding: 3px 20px 3px 20px;
    height: 35px; 
    border: 2px solid black;
    background-color: rgba(255,255,255,0.8);
    font-weight: 500;
    border-radius: 30px;
    font-size: 16px;
}

.campo-space-login {
    margin: 0 0 15% 0;
}

.campo-space-cadastro {
    margin: 0 0 8% 0;
}

.button {
    padding: 10px 20px;
    margin-top: 8%;
    background-color: rgba(241, 189, 158, 0.726);
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.button:hover {
    background-color: rgba(241, 189, 158, 0.9);
}

.button-cadastro {
    background-color: rgba(102, 157, 158, 0.6);
}

.button-cadastro:hover {
    background-color: rgba(102, 157, 158, 0.8);
}

#pointer {
    display: flex; 
    width: 100%;
    justify-content: center;
}

.point {
    margin: 15px 3px 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border-radius: 1px solid white;
/*    background-color: white;*/
    border: 1px solid white;
}

