::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-track{
	background-color: rgba(241, 200, 158, 1);
}
::-webkit-scrollbar-thumb{
	background-color: #d06a17d4;
}
body {
	margin: 0;
	background-color: rgb(250, 226, 196);
}
.header {
	width: 100%;
	height: 50px;
	padding-left: 55px;
	background-color: rgba(158, 103, 59, 0.9);
}
.mid-header {
	width: 100%;
	height: 100px;
	padding-left: 55px;
	background-color: rgba(158, 103, 59, 0.5);
}
.content-dash {
	width: 100%;
	padding-left: 55px;
}
.grafics {
	display: flex;
	width: 90%;
	margin: 5% 0 0 3%;
	justify-content: space-between;
}
.grafic {
	width: 45%; 
	padding: 20px; 
	background-color: rgba(158, 103, 59, 0.2); 
	border-radius: 20px;
}
.grafPizza{
	display: flex;
	width: 40%;
	padding: 20px;
	margin: 5% 0 0 3%;
	justify-content: space-between;
}
.tabelaKPI{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 10px;
	border-color: rgb(107, 49, 4);
}
.divTabelas{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.menu {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 55px;
	height: 100%;
	position: fixed;
	background-color: rgba(241, 200, 158, 1);
	transition: 0.1s;
	overflow: hidden;
}
.menu-active {
	width: 250px;
}
.button-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 55px;
	height: 50px;
	cursor: pointer;
	background-color: rgba(0,0,0, 0.2);
	transition: 0.1s;
}
.bar-menu {
	width: 27px;
	height: 5px;
	background-color: white;
	border-radius: 20px;
	margin: 2px 0 2px 0;
}

.content-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 7px;
	width: 41px;
	margin-top: 0;
	transition: 0.4;
}
.dash {
	width: 41px;
	height: 40px;
	background-color: grey;
	margin: 20px 0 0 0;
	border-radius: 10px;
	cursor: pointer;
}

.content-dash .grafics .grafic3 {
	flex-flow: column wrap;
}