:root {
	--ff-urbanist: 'Urbanist', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    font-family: var(--ff-urbanist);
    background-color: rgb(250, 226, 196);
    display: flex;
    overflow: hidden;
    height: 100vh;
}

#box-fazendas {
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;

}

#box-armazens {
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.listar_armazens {
    display: flex;
}

.listar_fazendas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tela_fazendas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 100%; */
}

.h1-faz {
    font-size: 30pt;
    color: #cc8953;
}

.telaMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-in-out;
}


.headerMain {
    width: 60vw;
    gap: 10%;
    position: fixed;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnHeader {
    flex-wrap: nowrap;
    gap: 30px;
    display: flex;
    flex-direction: row;
}

.btnHeader li {
    list-style: none;
}

.buttons {
    gap: 40px;
    position: fixed;
    margin-top: -3%;
    margin-left: 550px;
    justify-content: end;
}

.btnFazendas {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px rgb(158, 104, 59);
    color: white;
    background-color: rgb(158, 104, 59);
    text-align: center;
    text-justify: inherit;
    font-size: 20px;
    transition: 0.25s;
}

.btnFazendas:hover {
    background-color: rgb(234, 209, 189);
    color: rgb(158, 104, 59);
}

.telaConteudo {
    display: flex;
    /* height: 100vh; */
    /* width: 100vw; */
}

.telaMetricas {
    border: 10px solid #9c6b43;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    flex-direction: column;
    padding: 30px;
    height: auto;
    width: auto;
    background: #ffd5b3;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
    margin-top: 15%;
    animation: deslizar 0.25s;
}

.metricas {
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
}

.menu {
	position: fixed;
	display: inline-block;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 55px;
	height: 100%;
	position: fixed;
	background-color: #9c6b43;
	transition: 0.1s;
	overflow: hidden;
	margin-left: -96%;
}

.menu-perdas {
	top: 0;
}

.button-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 55px;
	height: 50px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
	transition: 0.1s;
}

.textoMenu {
	color: white;
	display: flex;
	align-items: center;
	height: 100%;
	margin-top: 30px;
}

.blocoTextoMenu {
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: right;
	width: 175px;
}


.menu-active {
	width: 250px;
}

.bar-menu {
	width: 27px;
	height: 5px;
	background-color: #fae2c4;
	border-radius: 20px;
	margin: 2px 0 2px 0;
}

.dash {
	height: 25px;
	margin: 20px 9px 0 5px;
	border-radius: 7px;
	cursor: pointer;
}

.ionicons {
	width: 42px;
	height: 30px;
}

.content-items {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 7px;
	width: 80px;
	margin-top: 40px;
	transition: 0.4;
}

.deslizarCima {
    margin-top: -100vh;
}

#chartTemperatura {
    background-color: aqua;
}

#chartUmidade {
    background-color: blue;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}