.box-perdas {
	margin: 5% 30% 6.6% 30%;
	width: 40%;

}
.menu-perdas {
	top: 0;
}

.title-perdas {
	font-size: 30pt;
}


.select-perdas {
	display: flex;
}

select {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 5px;
}

label {
	color: #382e27f1;
	font-family: 'Urbanist', sans-serif;
	font-weight: bold;
}

.campos {
	font-size: 5pt;
}
